<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Image processor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Images</a></li>
                <li class="active"><a href="/uploadFile">Upload Image</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <section id="section1" class="panel panel-default">

        <div class="panel-heading">
            <div class="container">
                <h3 class="panel-title">Upload image</h3>
            </div>
        </div>
        <div class="panel-body">
            <form action="https://<%=bucket%>.s3.amazonaws.com/" method="POST" id="sign-up-form" class="form-horizontal" enctype="multipart/form-data">

                <div class="container">
                    <% fields.forEach(function(elem){ %>
                    <input type="hidden" name="<%= elem.name  %>" value="<%=elem.value %>"/>
                    <%}); %>

                    <div class="col-xs-5">
                        <div class="form-group">
                            <label for="exampleInputFile">File input</label>
                            <input type="file" onchange="ValidateSize(this)" name="file" accept="image/*" >
                            <p class="help-block">File will be send to the server </p>
                        </div>


                    </div>
                </div>
                <script type="text/javascript">
                    function ValidateSize(file) {
                        var FileSize = file.files[0].size / 1024 / 1024; // in MB
                        if (FileSize > 2) {
                            alert('File size exceeds 2 MB. Please upload smaller image.');
                        }
                    }
                </script>
                <div class="container">
                    <div class="col-xs-3">
                        <input type="submit" id="uploadFileConfirm" class="btn  btn-primary btn-block" value="Confirm" />
                    </div>

                </div>
            </form>
        </div>
        <footer class="panel-footer">

        </footer>
    </section>
</div>
</body>
</html>