body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron{
  padding: 50px;
  margin: 50px;
}

.my-card{
  padding: 10px;
  background-color: #cdcdcd;
}

.card-img-top{
  width: 100%;
  height: 200px;
  padding: 10px;
}

.card{
  padding: 10px;

}

.card h4{
  align-content: center;
}

button span{
  color: white;
}

button a{
  color: white;
}

.process-button{
  padding-top: 20px;
  width: 250px;
}